@font-face {
    font-family: 'Champagne & Limousine';
    src:  url('../fonts/Champagne%20&%20Limousines.ttf') format('truetype')
}

@font-face {
    font-family: 'Close to You';
   src:  url('../fonts/Close%20to%20You.ttf') format('truetype')
}

body {
    font-family: 'Champagne Stint Ultra Condensed Limousine', cursive;
}

#footer{
    font-family: 'Champagne Stint Ultra Condensed Limousine', cursive;
}

#newsletterLayer h2.sectionTitle {
    font-family: 'Champagne Stint Ultra Condensed Limousine', cursive;
}

.Homemade-Apple-normal-400 {
    font-family: "Close to You" !important;
    font-style: normal;
    font-weight: 400;
}

.logoTop {
    background: url('') no-repeat scroll left top;
    font-size: 50px;
}

.mainSectionsInner{
    font-family: 'Champagne Stint Ultra Condensed Limousine', cursive;
}

.redValentino #login{
    font: 12px 'Champagne Stint Ultra Condensed Limousine', cursive;
}

.switchSeason span.mainSeason, .switchSeason span.secondarySeason, .switchGender span {
    font-family: 'Champagne Stint Ultra Condensed Limousine', cursive;
}
