body {
    font-family: 'Stint Ultra Condensed', cursive;
}

#footer{
    font-family: 'Stint Ultra Condensed', cursive;
}

#newsletterLayer h2.sectionTitle {
    font-family: 'Stint Ultra Condensed', cursive;
}

.Homemade-Apple-normal-400 {
    font-family: "Homemade Apple" !important;
    font-style: normal;
    font-weight: 400;
}

.logoTop {
    background: url('') no-repeat scroll left top;
    font-size: 30px;
}

.mainSectionsInner{
    font-family: 'Stint Ultra Condensed', cursive;
}

.redValentino #login{
    font: 12px 'Stint Ultra Condensed', cursive;
}

.switchSeason span.mainSeason, .switchSeason span.secondarySeason, .switchGender span {
    font-family: 'Stint Ultra Condensed', cursive;
}
