@(product: TProduct)

@main("Product: " concat product.name) {
    <div class="top_bg">
        <div class="wrap">
            <div class="main_top">
                <h2 class="style">our @product.sort</h2>
            </div>
        </div>
    </div>
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <div class="single">
                    <div class="left_content">
                        <div class="span1_of_1">
                            <div class="product-view">
                                <div class="product-essential">
                                    <div class="product-img-box">
                                        <div class="more-views">
                                            <div class="product-image">
                                                <ul id="etalage">
                                                    <li>
                                                        <img class="etalage_source_image" src="/assets/images/product/@product.picture" alt="@product.name" title="@product.name" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span1_of_1_des">
                            <div class="desc1">
                                <h3>@product.name</h3>
                                @defining[TPrice](product.mainPrice) { mainPrice =>
                                    <h5>@mainPrice.currency @mainPrice.value @if(product.onSales) {
                                    } <a href="#">click for offer</a></h5>
                                }
                                <div class="available">
                                    <div class="btn_form">
                                        <form>
                                            <input type="submit" value="buy now" title="" />
                                        </form>
                                    </div>
                                    <span><a href="#">login to save in wishlist </a></span>
                                    <p>Short description.</p>
                                </div>
                                <div class="color-desc">
                                    <div class="color">
                                        <h4>Available colors:</h4>
                                        <div class="color-list">
                                            <div><a href="#"> <span class="color2"> </span><p class="red">Green</p></a></div>
                                            <div><a href="#"> <span class="color3"> </span><p class="red">Blue</p></a></div>
                                            <div><a href="#"> <span class="color4"> </span><p class="red">Yellow</p></a></div>
                                            <div><a href="#"> <span class="color5"> </span><p class="red">Violet</p></a></div>
                                            <div><a href="#"> <span class="color6"> </span><p class="red">Orange</p></a></div>
                                            <div><a href="#"> <span class="color7"> </span><p class="red">Gray</p></a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="share-desc">
                                    <div class="share">
                                        <h4>Share Product :</h4>
                                        <ul class="share_nav">
                                            <li><a href="#"><img src="/assets/images/facebook.png" title="facebook"></a></li>
                                            <li><a href="#"><img src="/assets/images/twitter.png" title="Twiiter"></a></li>
                                            <li><a href="#"><img src="/assets/images/rss.png" title="Rss"></a></li>
                                            <li><a href="#"><img src="/assets/images/gpluse.png" title="Google+"></a></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="left_content_btm">
                            <section class="tabs">
                                <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
                                <label for="tab-1" class="tab-label-1">overview</label>

                                <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2">
                                <label for="tab-2" class="tab-label-2">consumer</label>

                                <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3">
                                <label for="tab-3" class="tab-label-3">semiconductor</label>

                                <div class="clear-shadow"></div>

                                <div class="content">
                                    <div class="content-1">
                                        <p class="para top"><span>Span I</span> Text I</p>
                                        <ul>
                                            <li>List element I</li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="content-2">
                                        <p class="para top"><span>Span II</span> Text II</p>
                                        <ul>
                                            <li>List element II</li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="content-3">
                                        <p class="para top"><span>Span III</span> Text III</p>
                                        <ul>
                                            <li>List element III</li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="left_sidebar">
                        <ul class="det_nav">
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">safety and security</a></li>
                            <li><a href="#">specials</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">new products</a></li>
                            <li><a href="#">safety and security</a></li>
                        </ul>
                        <h4>recent products</h4>
                        <div class="left_products">
                            <div class="left_img">
                                <img src="/assets/images/det_pic1.jpg" alt=""/>
                            </div>
                            <div class="left_text">
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                                <span class="line">$72.00</span>
                                <span>$52.00</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="left_products">
                            <div class="left_img">
                                <img src="/assets/images/det_pic2.jpg" alt=""/>
                            </div>
                            <div class="left_text">
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                                <span class="line">$86.00</span>
                                <span>$83.00</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="left_products">
                            <div class="left_img">
                                <img src="/assets/images/det_pic1.jpg" alt=""/>
                            </div>
                            <div class="left_text">
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></p>
                                <span class="line">$76.00</span>
                                <span>$75.00</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/views/product/details.js")"></script>
}
