@(products: List[TProduct])

<div class="grids_of_@products.length">
    @for(product <- products) {
        <div class="grid1_of_@products.length">
            <a href="details.html">
                <img src="@controllers.routes.Assets.at("images/products/" concat product.picture)" alt="">
                <h3>even &amp; odd</h3>
                <span class="price">@product</span>
                @if(product.isOutOfStock) {
                    <span class="price1 bg1">out of stock</span>
                }
            </a>
        </div>
    }
    <div class="clear"></div>
</div>
