@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@main(Messages("securesocial.login.title")) {
    <div class="top_bg">
        <div class="wrap">
            <div class="main_top">
                <h2 class="style">@Messages("securesocial.login.title")</h2>
            </div>
        </div>
    </div>
    <div class="main_bg">
        <div class="wrap">
            @errorMsg.map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
            }

            @request.flash.get("success").map { msg =>
                <div class="alert alert-info">
                    @msg
                </div>
            }

            @request.flash.get("error").map { msg =>
                <div class="alert alert-error">
                    @msg
                </div>
            }
            <div class="main">
                <div class="login_left">
                    <h3>new customers</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping address, view and track your orders in your accoung and more.</p>
                    <div class="btn">
                        <form>
                            <input type="button"  onclick="location.href='register.html';" value="create an account" />
                        </form>
                    </div>
                </div>
                @defining(Registry.providers.all.values.filter(_.id != UsernamePassword)) { providers =>
                    <div class="login_left">
                        <h3>@Messages("securesocial.login.instructions")</h3>
                        <div class="registration">
                            <div class="registration_left">
                                @if(providers.size > 0) {
                                    @for(p <- providers) {
                                        @views.html.security.provider(p.id)
                                    }
                                }
                                @Registry.providers.get(UsernamePassword).map { up =>
                                    @provider("userpass", Some(loginForm))
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/views/product/catalog.js")"></script>
}
