@(title: String)(content: Html)

@import play.api.Play

<!DOCTYPE HTML>
<html>
    <head>
        <title>@title</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500">
        <link type="text/css" rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/jquery.mmenu.all.css")" media="all" />
        <link type="text/css" rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/etalage.css")" media="all" />
        <link type="text/css" rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/style.css")" media="all" />
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/jquery.min.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/jquery.eislideshow.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/jquery.etalage.min.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/jquery.mmenu.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/easing.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/move-top.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/bootstrap.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/common/default.js")"></script>
    </head>
    <body>
        <div class="top_bg">
            <div class="wrap">
                <div class="header">
                    <div class="logo">
                        <a href="/"><img src="@controllers.routes.Assets.at("images/logo.png")" alt=""/></a>
                    </div>
                    <div class="log_reg">
                        <ul>
                            <li><a href="/login">Login</a> </li>
                            @if(Play.current.configuration.getBoolean("securesocial.registrationEnabled").getOrElse(false)){
                                <span class="log"> or </span>
                                <li><a href="/signup">Register</a> </li>
                            }
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="web_search">
                        <form>
                            <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value=" " />
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="header_btm">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/catalog">products</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="/blog">blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div id="smart_nav">
                    <a class="navicon" href="#menu-left"> </a>
                </div>
                <nav id="menu-left">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/catalog">products</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="/blog">blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <div class="clear"></div>
                    </ul>
                </nav>
                <div class="header_right">
                    <ul>
                        <li><a href="#"><i  class="art"></i><span class="color1">30</span></a></li>
                        <li><a href="#"><i  class="cart"></i><span>0</span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        @content
        <div class="footer_top">
            <div class="wrap">
                <div class="footer">
                    <div class="span_of_3">
                        <div class="span1_of_3">
                            <h3>text edit</h3>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                        </div>
                        <div class="span1_of_3">
                            <h3>twitter widget</h3>
                            <p><a href="#">@@Contrarypopular</a> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give <a href="#">@@accountofsystem</a> </p>
                            <p class="top">19 days ago</p>
                            <p class="top"><a href="#">@@Contrarypopular</a> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give <a href="#">@@accountofsystem</a> </p>
                            <p class="top">19 days ago</p>
                        </div>
                        <div class="span1_of_3">
                            <h3>flickr widget</h3>
                            <ul class="f_nav">
                                <li><a href="#"><img src="@controllers.routes.Assets.at("images/f_pic1.jpg")" alt="" /> </a></li>
                                <li><a href="#"><img src="@controllers.routes.Assets.at("images/f_pic2.jpg")" alt="" /> </a></li>
                                <li><a href="#"><img src="@controllers.routes.Assets.at("images/f_pic3.jpg")" alt="" /> </a></li>
                                <li><a href="#"><img src="@controllers.routes.Assets.at("images/f_pic4.jpg")" alt="" /> </a></li>
                                <li><a href="#"><img src="@controllers.routes.Assets.at("images/f_pic5.jpg")" alt="" /> </a></li>
                                <li><a href="#"><img src="@controllers.routes.Assets.at("images/f_pic6.jpg")" alt="" /> </a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_mid">
            <div class="wrap">
                <div class="footer">
                    <div class="f_search">
                        <form>
                            <input type="text" value="" placeholder="Enter email for newsletter" />
                            <input type="submit" value=""/>
                        </form>
                    </div>
                    <div class="soc_icons">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                            <li><a class="icon4" href="#"></a></li>
                            <li><a class="icon5" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="wrap">
                <div class="footer">
                    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
                    <div class="f_nav1">
                        <ul>
                            <li><a href="#">home /</a></li>
                            <li><a href="#">support /</a></li>
                            <li><a href="#">Terms and conditions /</a></li>
                            <li><a href="#">Faqs /</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="copy">
                        <p class="link"><span>© All rights reserved | Template by&nbsp;<a href="http://w3layouts.com/"> W3Layouts</a></span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </body>
</html>
